[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[packages]
bokeh = "*"
colorcet = "*"
community = "==1.0.0b1"
cryptography = "*"
gensim = "*"
graphviz = "*"
ipydatawidgets = "*"
ipykernel = "*"
ipyleaflet = "*"
ipython = "*"
ipywidgets = "*"
jupyter = "*"
jupyterlab = "*"
jupyterlab-widgets = "*"
lxml = "*"
matplotlib = "*"
matplotlib-venn = "*"
matplotlib-venn-wordcloud = "*"
networkx = "*"
nltk = "*"
numpy = "*"
openpyxl = "*"
pandas = "*"
pivottablejs = "*"
pydotplus = "*"
pyLDAvis = "*"
python_louvain = "*"
qgrid = "*"
scikit_learn = "*"
scipy = "*"
sql-magic = "*"
tornado = "*"
widgetsnbextension = "*"
wordcloud = "*"
jupytext = "*"

[requires]
python_version = "3"

[dev-packages]
pytest = "*"
pytest-cov = "*"
pandoc = "*"
pylint = "*"
"pep8" = "*"
