[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
jupytext = "*"
pipenv = "*"
pipreqs = "*"
pylint = "*"
pytest = "<=5.0.1"
pytest-cov = "*"
rope = "*"
yapf = "*"
pandoc = "*"
"pep8" = "*"

[packages]
beakerx = "*"
bokeh = "*"
colorcet = "*"
community = "==1.0.0b1"
cryptography = "*"
cytoolz = "*"
gensim = "*"
graphviz = "*"
ipykernel = "*"
ipython = "*"
ipywidgets = "*"
jupyterlab = "*"
jupytext = "*"
lxml = "*"
matplotlib = "*"
matplotlib-venn = "*"
matplotlib-venn-wordcloud = "*"
networkx = "*"
nltk = "*"
numpy = "*"
openpyxl = "*"
pandas = "*"
pivottablejs = "*"
pydotplus = "*"
pyLDAvis = "*"
python_louvain = "*"
rake-nltk = "*"
scikit_learn = "*"
scipy = "*"
spacy = "*"
sql-magic = "*"
textacy = "*"
tornado = "*"
wordcloud = "*"
nbdime = "*"

[requires]
python_version = "3"
