textacy==0.6.2
pandas==0.23.4
lxml==4.2.5
pydot==1.4.1
wordcloud==1.5.0
pydotplus==2.0.2
jmespath==0.9.3
numpy==1.12.1
bokeh==1.0.2
python_louvain==0.11
matplotlib==3.0.2
requests==2.12.4
spacy==2.0.18
docutils==0.14
Flask==1.0.2
gensim==3.6.0
networkx==2.2
ipywidgets==7.4.2
scipy==0.18.1
smart_open==1.7.1
nltk==3.4
ipython==7.2.0
community==1.0.0b1
graph_tool==2.11
mayavi==4.6.2
typing==3.6.6
